<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="RedisConfiguration" type="Rydo.Framework.Cache.Redis.Section.RedisConfigurationSection, Rydo.Framework.Cache, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <RedisConfiguration host="localhost" port="6379"/>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="DefaultConnectionString" value="HBConnectionString"/>
  </appSettings>
  <connectionStrings>
    <add name="HBConnectionString" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=HB;Data Source=MARKII\SQLEXPRESS" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>